#login {
  background-color: rgba(255,255,255,0.2);
}

#loginTxt {
  color: #000;
  margin-top: 50px;
  margin-bottom: 100px;
}

.facebook {
  background-color: #3b5998;
  color: #f7f7f7;
}

#innerBox {
  margin-top: 50%;
  text-align: center;
}
