html, body {
  height: 100%;
  overflow: hidden;
  min-height: 596px;
  min-width: 980px;
  background: -webkit-linear-gradient(#A8DED8, #D7F5F5, #C6B7B2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#A8DED8, #D7F5F5, #C6B7B2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#A8DED8, #D7F5F5, #C6B7B2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#A8DED8, #D7F5F5, #C6B7B2); /* Standard syntax (must be last) */
}

.navbar-default .navbar-nav > li > a {
  /* margin-left: -125px; */
  color: black;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
  background: #A8DED8;
}

#splash {
  margin-top: -100px;
  text-align: center;
}

#splash img {
  margin: 0 auto;
}
