/*html {
  overflow: scroll;
}
li {
  margin: 0;
}*/

#sidebar-wrapper {
  height: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
  /*min-width: 300px;*/
  background-color: rgba(255, 255, 255, 0.2);
}

#catalog-photos {
  height: 100%;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Sidebar Styles */

.sidebar-nav {
  position: relative;
  top: 140px;
  margin-right: 35px;
  list-style: none;
}

.sidebar-nav li {
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
  padding-left: 30px;
  padding-right: 30px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #e2e2e2;
  background: #000;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 18px;
  margin-bottom: 30px;
}

.sidebar-nav > .sidebar-brand a {
  color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
  cursor: default;
  color: #999999;
  background: none;
}

.narrowMargin {
  margin: 0px;
}

.btn {
  border: 1px solid #A8DED8;
  border-radius: 0;
  background-color: black;
}

.btn:hover {
  border-radius: 0;
  border: 1px solid black;
  background-color: #A8DED8;
}
