<div class="row-fluid">

  <!-- Sidebar wrapper -->
  <div id="sidebar-wrapper" class="col-md-2" s>

    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        Filter Catalog
      </li>

      <li ng-repeat="(facet,object) in products.facets" ng-if="products.length">
        <h5 style="font-weight: bold" ng-bind="object.label"></h5>
        <ul>
          <li ng-repeat="item in object.buckets">
            <a href data-ng-click="doSearchByFilter(facet, item.value)" ng-show="item.value">
              <input type="checkbox" ng-model="checked[item.value]">
              <span ng-bind-html="item.value | trust" class="facetText"></span>
              ({{item.count | number}})
            </a>
          </li>
        </ul>
      </li>

    </ul>

    <!--<ul class="sidebar-nav">-->
      <!--<li class="sidebar-brand">-->
        <!--Filter Catalogue-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Suggestion # 1</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Suggestion # 2</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Suggestion # 3</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Suggestion # 4</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Suggestion # 5</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Suggestion # 6</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#">Suggestion # 7</a>-->
      <!--</li>-->
    <!--</ul>-->

  </div>
  <!-- End sidebar wrapper -->

  <!-- Start photo catalog -->
  <div id="catalog-photos" class="col-md-10">
    <img ng-show="searchInProgress" id="ajax-loader" ng-src="assets/images/ajax-loader.gif" class="img-responsive"/>

    <div class="col-md-4" ng-repeat="product in products track by $index"
         dir-paginate="product in products | itemsPerPage: 12 track by $index" total-items="products.found">
      <div class="thumbnail">
        <div class="imgBkg" ng-click="viewItem(product)">
          <img class="centerImg" src="{{product.mediumImage}}"/>
        </div>

        <div class="caption">
          <h4 ng-if="product.title.length >= 100">{{product.title.substr(0,75)}}...</h4>
          <h4 ng-if="product.title.length < 100">{{product.title}}</h4>

          <p>Price: {{product.price | currency:"$"}}</p>
          <a ng-click="addToCart(product.id)" class="btn btn-primary" role="button">Add to Cart</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row-fluid" style="min-height:500px" ng-if="products.length <= 0">
      Your search for<b> {{query}} </b>did not match any documents...
      <br/><br/>
      * Suggestions: Make sure all words are spelled correctly.</br>
      * Use similar words or synonyms.</br>
      * Try more general keywords.
    </div>
  </div>

  <!--pagination-->
  <!--<dir-pagination-controls on-page-change="doSearch(newPageNumber)"-->
  <!--template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html">-->
  <!--</dir-pagination-controls>-->

</div>
<!-- End product info -->

</div>
