<div class="row-fluid">

  <!-- Sidebar wrapper -->
  <div id="sidebar-wrapper" class="col-sm-2"s>

    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        Filter Catalog
      </li>
      <li>
        <a href="#">Suggestion # 1</a>
      </li>
      <li>
        <a href="#">Suggestion # 2</a>
      </li>
      <li>
        <a href="#">Suggestion # 3</a>
      </li>
      <li>
        <a href="#">Suggestion # 4</a>
      </li>
      <li>
        <a href="#">Suggestion # 5</a>
      </li>
      <li>
        <a href="#">Suggestion # 6</a>
      </li>
      <li>
        <a href="#">Suggestion # 7</a>
      </li>
    </ul>
  </div>
  <!-- End sidebar wrapper -->

  <!-- Start photo catalog -->
  <div id="catalog-photos" class="col-sm-10">
    <div class="row">

      <div class="col-md-4" ng-repeat="product in $scope.products">
        <div class="thumbnail">
          <img src="https://s3-eu-west-1.amazonaws.com/petrus-blog/placeholder.png">
          <div class="caption">
            <h3>{{product.title}}</h3>
            <p>Price: {{product.price}}</p>
            <p>
              <a ng-click="addToCart()" class="btn btn-primary" role="button">Add to Cart</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

