html {
  overflow: scroll;
}

.imgBkg {
  padding: 15px;
  height: 200px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}

.centerImg {
  margin-left: auto;
  margin-right: auto;
}

/* Custom buttons for catalog */
.btn {
  color: black;
  border: 1px solid #999;
  border-radius: 0;
  background-color: #999;
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
}

.btn:hover {
  color: black;
  border: 1px solid #999;
  background-color: #D7F5F5;
}

.caption a {
  color: black;
  cursor: pointer;
}

.caption a:hover {
  color: #999;
}

/* Grid of Amazon products */
#catalog-photos {
  height: 800px;
  overflow: scroll;
  margin-top: 20px;
  padding-bottom: 200px;
}

#sidebar-wrapper {
  height: 1000px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 0px;
}

/* Sidebar for search filters */

.sidebar-nav {
  position: relative;
  top: 140px;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
  padding-left: 30px;
  padding-right: 30px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #e2e2e2;
  background: #000;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 18px;
  margin-bottom: 50px;
}

.sidebar-nav > .sidebar-brand a {
  color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
  cursor: default;
  color: #999999;
  background: none;
}

.narrowMargin {
  margin: 0px;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
  background-color: #999;
}
