#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 271px;
  width: 0;
  height: 662px;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #e9e9e9;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #e2e2e2;
  background: #000;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  cursor: default;
  color: #999999;
  background: none;
}

@media(min-width:768px) {
  #sidebar-wrapper {
    width: 250px;
  }
}

#catalog-photos {
  height: 620px;
  overflow: scroll;
  margin-top: 20px;
}

::-webkit-scrollbar {
  display: none;
}
