<!-- <div class="footer" ng-controller="NavbarCtrl">
  <form class="form-inline col-md-3 pull-right">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" id="search" placeholder="Search...">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </div>
      </div>
    </div>
  </form>
  <ul>
    <li>Login</li>
    <li>Login</li>
    <li>Login</li>
  </ul>
  <a href="/login" class="store-btn btn btn-default pull-left" type="submit">Login</a>
  <a href="/cart" class="btn btn-default pull-right" type="submit">Cart</a>
</div> -->

<div class="footer">
  <div class="navcontainer nav">
    <ul class="">
      <li><a href="#">Sphereable</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Login</a></li>
      <li>
        <a href="#">
          <img src="https://raw.githubusercontent.com/StrangeLightning/Documentation/master/designProcess/logos/logo5small.png" id="logo" />
        </a>
      </li>
      <li><a href="#">Shopping cart</a></li>
      <li><a href="#">Search</a></li>
    </ul>
  </div>
</div>


<!-- <div class="footer" ng-controller="NavbarCtrl">
  <div class="nav-simple">
      <div class="navcontainer">
        <ul>
          <li><a href="#">Sphereable</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
  </div>
</div>
 -->
