
  <!--
    ========================================================
    =                        Menu                          =
    ========================================================
   -->

  <nav class="navbar navbar-default navbar-fixed-bottom" ng-controller="NavbarCtrl">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="/">
          <h2 class="title">Sphereable </h2>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

          <li>
            <a href="/about">About<span class="sr-only">(current)</span></a>
          </li>

          <li>
            <a href="/explore">Explore</a>
          </li>

          <li>
            <a href="/catalog">Catalogue</a>
          </li>

          <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
            <a href="/" ng-click="logout()">Logout</a>
          </li>

          <li ng-hide="isLoggedIn()">
            <a href="/login">Login</a>
          </li>

          <li>
            <a href="/privacy"><span class="glyphicon glyphicon-lock"></span></a>
          </li>

          <li id="cart-quantity">
            <a ng-click="showCatalog()">
              <span class="glyphicon glyphicon-shopping-cart btnWidth"></span>
              <span class="badge" ng-if="cartQty > 0">{{cartQty}}</span>
            </a>
          </li>
        </ul>

        <div class="navbar-right col-md-4 nav-search-container" role="search" style="margin-top: 8px;">

          <div class="input-group nav-search">
            <ui-select ng-model="suggestedProduct.selected"
                       theme="bootstrap"
                       reset-search-input="true"
                       on-select="doSearch($item.title)"
                       title="Search">
              <ui-select-match placeholder="Search">{{$select.selected.value}}</ui-select-match>
              <ui-select-choices repeat="suggestedProduct.title as suggestedProduct in suggestedProducts track by $index"
                                 refresh="doSuggestor($select.search)"
                                 refresh-delay="0">
                <div ng-bind-html="suggestedProduct.title | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
            <span class="input-group-addon" id="basic-addon1 search" ng-click="doSearch(searchTerm)">
              <span class="glyphicon glyphicon-search"></span>
            </span>
          </div>

        </div>
      </div>
    </div>
  </nav>
