<div class="footer" ng-controller="NavbarCtrl">
  <form class="form-inline col-md-3 pull-right">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" id="search" placeholder="Search...">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </div>
      </div>
    </div>
  </form>
  <a href="/login" class="store-btn btn btn-default pull-left" type="submit">Login</a>
  <a href="/cart" class="btn btn-default pull-right" type="submit">Cart</a>
</div>
