.nav-search {
  width: 100%;
  border-radius: 10px;
}

.nav-search-container {
  /*width: 386px;*/
}

.ui-select-choices-row-inner {
  height: 35px !important;
}

.navbar-right .form-control {
  margin-top: 0px !important;
}

.ui-select-bootstrap .ui-select-toggle > .caret {
  display: none !important;
}

.pagination > .active > a {
  background-color: #999;
  border-color: #999;
}

.pagination > li > a {
  color: #999;
}

@media (max-width: 1200px) {
  .nav-search-container {
    /*float: left!important;*/
  }
}
