<div sa-set-height-directive identifier="#loadScreen" id="loadScreen" ng-click="hideLoadScreen()" ng-hide="isHidden">
  <span id="loadTitle">
    <h2>Let’s make online shopping a fun experience</h2>
    <p>Click on screen to load</p>
  </span>
  <img id="theImg" class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sphereable-images/loadScreen.jpg" >
  <img id="keys" src="https://s3-us-west-2.amazonaws.com/sphereable-images/keys.png">
</div>

<three-world></three-world>
<div id="showcase-container" class="pull-right">
  <button type="button" class="close pull-left" aria-label="Close" ng-click="close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div id="innerProduct">
    <div>
      <img id="productImg" src="{{showcase.mediumImage}}"/>
    </div>
    <div id="showcase" class="caption">
      <h3>{{ showcase.title}}</h3>
      <h3>{{showcase.price | currency:"$"}}</h3>
      <p ng-repeat="(key,value) in showcase.prodAttributes">
        <span ng-if="key === 'ProductGroup'">
          <span class="attr-label">Product Group:</span> {{value[0]}}
        </span>
        <span ng-if="key === 'Brand'">
          <span class="attr-label">{{key}}:</span> {{value[0]}}
        </span>
        <span ng-if="key === 'Color'">
          <span class="attr-label">{{key}}:</span> {{value[0]}}
        </span>
        <span ng-if="key === 'Department'">
          <span class="attr-label">{{key}}:</span> {{value[0]}}
        </span>
        <span ng-if="key === 'Feature'">
          <span class="attr-label">{{key}}:</span> {{value[0]}}
        </span>
        <span ng-if="key === 'ListPrice'">
          <span class="attr-label">{{key}}:</span> {{value[0].FormattedPrice[0]}}
        </span>
      </p>
    </div>
    <p>
      <a href="#" id="addCartProduct" ng-click="addToCart(showcase.id)" class="btn btn-primary pull-left" role="button">Add to Cart</a>
    </p>
  </div>
</div>
