<div id="product-container" class="pull-right">
  <button type="button" class="close pull-left" aria-label="Close" ng-click="close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div id="innerProduct">
    <div>
      <img id="productImg" src="{{product.mediumImage}}"/>
    </div>
    <div id="product" class="caption">
      <h3>{{ product.title}}</h3>
      <h3>{{product.price | currency:"$"}}</h3>
      <p ng-repeat="attr in product.prodAttributes">
        <span>{{attr}}</span>
      </p>
    </div>
    <p>
      <a href="#" id="addCartProduct" ng-click="addToCart(product.id)" class="btn btn-primary pull-left" role="button">Add to Cart</a>
    </p>
  </div>

</div>
