#product-container {
  background-color: white;
  float: right;
  width: 30%;
  padding: 10px;
  margin-right: -15px;
}

#product-container img {
  width: 100%;
}

#amazon-image {
  width: 95%;
}

#product {
  height: 300px;
  overflow: scroll;
}

.close {
  margin-right: 5px;
}
