#product-container {
  background-color: white;
  float: right;
  height: 800px;
  overflow-x: hidden;
  width: 30%;
  min-width: 400px;
  padding: 10px;
  margin-right: -15px;
  padding: 20px;
}

#product-container img {
  margin-top: 15px;
  width: 40%;
}

#productImg {
  margin-left: 28%;
  margin-right: 25%;
  margin-bottom: 40px;
}

#product {
  padding-left: 40px;
  padding-right: 25px;
}

.close {
  position: absolute;
  z-index: 1000;
  top: 8px;
}

#innerProduct{
  position: relative;
  top: 30px;
}

#addCartProduct {
  margin-top: 20px;
  margin-left: 40px;
}

.attr-label{
  font-weight: 900;
}
