#product-container {
  background-color: white;
  float: right;
  height: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 30%;
  min-width: 400px;
  padding: 10px;
  margin-right: -15px;
  padding: 20px;
}

#product-container img {
  margin-top: 15px;
  width: 100%;
}

#product {
  padding: 30px;
  overflow: scroll;
}

.close {
  position: absolute;
  top: 8px;
}
