<div id="cart" class="table-responsive">
  <h3 class="pull-left">Shopping Cart</h3>
  <br/>
  <br/>
  <button type="button" class="close pull-left" aria-label="Close" ng-click="close()">
    <span aria-hidden="true">&times;</span>
  </button>

  <table class="table table-bordered table-hover">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Remove</th>
    </tr>
  </table>

  <table class="table table-bordered table-hover">
     <span ng-if="(!items.length > 0)"> No items in cart. </span>

    <tr ng-if="items.length > 0" ng-repeat="item in items">
      <td>{{item.Title[0]}}</td>
      <td>{{item.ItemTotal[0].FormattedPrice[0]}}</td>
      <td>{{item.Quantity[0]}}</td>
      <td>
        <button type="button" ng-click="removeFromCart(item.ASIN[0])"  aria-label="Close" class="btn btn-md cartBtn">x
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </td>
    </tr>
  </table>
  <br/>

  <h3>
    <span class="total label label-default col-md-12">Total: {{subTotal}}</span>
  </h3>

  <div id="checkout" class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-lg cartBtn" ng-click="goToAmazonCart()">
        <a>
        <img src="https://static-na.payments-amazon.com/OffAmazonPayments/us/js/Widgets.js">
        </a>
      </button>
    </div>
    <div class="col-md-6">
      <button ng-click="emptyCart()" type ="button" class="btn btn-lg cartBtn">
        <a href="#">Empty Cart</a>
      </button>
    </div>
  </div>
</div>
