<div id="cart" class="table-responsive">
  <h3 class="pull-left">Shopping Cart</h3>
  <br/>
  <br/>
  <button type="button" class="close pull-left" aria-label="Close" ng-click="close()">
    <span aria-hidden="true">&times;</span>
  </button>

  <table class="table table-bordered table-hover">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Remove</th>
    </tr>
  </table>

  <table class="table table-bordered table-hover">
     <span ng-if="!(items.length > 0)"> No items in cart. </span>

    <tr ng-if="items.length > 0" ng-repeat="item in items">
      <td>{{item.Title[0]}}</td>
      <td>{{item.Price[0].FormattedPrice[0]}}</td>
      <td class="col-md-1">
        <button ng-click="removeItem(items, item)"  type="button" class="close center-block" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </td>
    </tr>
  </table>
  <br/>

  <h3>
    <span class="total label label-default col-md-12">Total: ${{charge}}</span>
  </h3>

  <div id="checkout" class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-lg cartBtn" ng-click="goToAmazonCart()">
        <a href="{{purchaseUrl}}" target="_blank">Pay</a>
      </button>
    </div>
    <div class="col-md-6">
      <button ng-click="dropSchema()" type ="button" class="btn btn-lg cartBtn">
        <a href="#">Empty Cart</a>
      </button>
    </div>
  </div>
</div>
