<div id="cart" class="table-responsive col-md-6 col-md-offset-3">
  <table class="table table-bordered table-hover">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Remove</th>
    </tr>


    <tr ng-repeat="item in items">
      <td>{{item.name}}</td>
      <td>$ {{item.price}}</td>
      <td class="col-md-1">
        <button ng-click="removeItem(items, item)"  type="button" class="close center-block" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </td>
    </tr>
    </tr>
  </table>
  <h3>
    <span class="label label-default col-md-6 col-md-offset-3">Total: ${{charge}}</span>
    <br /><br />
    <form type="button" class="btn btn-lg btn-danger col-md-6 col-md-offset-3">Pay</form>
    <button ng-click="dropSchema()" type = 'button' class="btn btn-lg btn-danger col-md-6 col-md-offset-3">Clear Cart</button>
  </h3>
</div>
