@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.cartBtn {
  width: 100%;
}

.label {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 100;
  background-color: #fff;
  color: #000;
  border: 1px solid #e2e2e2;
  border-radius: 0;
}

.total {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}

.close {
  z-index: 1000;
  position: relative;
  left: 20px;
}

#cart {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  padding-right: 30px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-top: 50px;
  text-align: center;
  margin-top: 0px;
}


#cart th {
  text-align: center;
}

#checkout {
  postion: fixed;
  left: 100px;
  bottom: 100px;
}
